@import "tailwindcss";

@theme {
  --gradient-brand: linear-gradient(
    to right,
    #f97316,
    #ec4899,
    #7e22ce
  );
}

.gradient-brand {
  background-image: var(--gradient-brand);
}

.gradient-text {
  background-image: var(--gradient-brand);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}